body{
	background: #f9fcff;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}

canvas{
	background: #e7ebee;
	border: 1px solid #000;
	filter: drop-shadow(3px 3px 5px #b8b8b8);
}

#header{
	padding-top: 1.5%;		
	display: block;
	font-size: 2em;
	font-weight: bold;
	background-image: linear-gradient(45deg, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff,
											 #006994, #333399, #00ced1, #00ccff, #5d89ba, 
											 #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff);
	filter: drop-shadow(3px 3px 3px #b8b8b8);											 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	-webkit-text-stroke: 0.5px black;
	width: 100%;	
}

#container{
	margin-top: 2%;
	display: block;
}

#controls{
	margin-top: 1.25%;
	width: 100%;	
}

#tap{
	width: 100vw;
	height: 100vh;
	background: black;
	overflow: hidden;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body{
		width: 640px;
	}
	#header{
		background-image: linear-gradient(45deg, #fff, #fff, #fff, #006994, #333399, #00ced1, #00ccff, #5d89ba, #fff, #fff, #fff);
	}
	#container{
		width: 100vw;
	}
	#tap{
		width: 640px;
	}
}